Importiamo Pandas, creiamo una funzione carica dati che ci legge un csv e poi richiamiamo la funzione

In [14]:
import pandas as pd

def carica_dati(percorso:str) -> pd.DataFrame:
    df=pd.read_csv(percorso)
    return df

carica_dati("vendite.csv")

          data       prodotto  quantita  prezzo_unitario
0   2025-01-02          Penna        30             1.20
1   2025-01-02       Quaderno        15             2.50
2   2025-01-03          Penna        25             1.20
3   2025-01-03         Matita        40             0.75
4   2025-01-04       Astuccio         5             4.00
5   2025-01-04  Evidenziatore        20             1.80
6   2025-01-05          Penna        35             1.20
7   2025-01-05       Righello        10             1.50
8   2025-01-06       Quaderno        18             2.50
9   2025-01-06     Pennarello        12             2.10
10  2025-01-07         Matita        50             0.75
11  2025-01-07          Gomma        30             0.50
12  2025-01-08       Righello         8             1.50
13  2025-01-08          Penna        28             1.20
14  2025-01-09       Astuccio         6             4.00
15  2025-01-09  Evidenziatore        15             1.80
16  2025-01-10     Pennarello        20             2.10
17  2025-01-10       Quaderno        22             2.50
18  2025-01-11          Gomma        25             0.50
19  2025-01-11          Penna        40             1.20

In [29]:
def riepilogo_vendite(df: pd.DataFrame) -> pd.DataFrame:
    totale_quantita = df["quantita"].sum()
    df["totale_ricavi"] = df["quantita"] * df["prezzo_unitario"]
    totale_ricavi = df["totale_ricavi"].sum()
    ordine_medio = totale_ricavi / len(df)
    
    return pd.DataFrame({"totale_quantita": [totale_quantita],
                         "totale_ricavi": [totale_ricavi],
                         "ordine_medio": [ordine_medio]})
    

riepilogo_vendite(carica_dati("vendite.csv"))

   totale_quantita  totale_ricavi  ordine_medio
0              454          623.3        31.165

In [35]:
def cerca_prodotto(nome_prodotto: str, df:pd.DataFrame) -> pd.DataFrame:
   k = 0
   for prodotto in df["prodotto"]:
        if nome_prodotto.lower() == prodotto.lower():
            print(f"Il prodotto {nome_prodotto} è stato trovato")
            print(f"Quantità: {df['quantita'][k]} Prezzo unitario: {df['prezzo_unitario'][k]}")
        k += 1
        

cerca_prodotto("Quaderno", carica_dati("vendite.csv"))

Il prodotto Quaderno è stato trovato
Quantità: 15 Prezzo unitario: 2.5
Il prodotto Quaderno è stato trovato
Quantità: 18 Prezzo unitario: 2.5
Il prodotto Quaderno è stato trovato
Quantità: 22 Prezzo unitario: 2.5